##############################################################################
# Remove my CSS from my project
##############################################################################
*.css linguist-detectable=false
###############################################################################
